#header {
  padding: 20px;
  text-align: center;
  background: #158cba; 
  /* opacity: 0.5; 
  color: white; */
  margin: 50px 0px;
  height: 40%;
  border-radius: 5px 5px 5px 5px;
}

#header > h1{
  color: white;
}

#header > h4{
  color: white;
  font-size: 20px;
  margin: 20px;
}

.head{
 font-size: 17px;
}

.data{
   font-size: 17px;
   font-weight: bold;
}

/* Headers */
h1{
  font-size: 18pt;
}

summary{
  cursor:pointer;
  font-size: 15px;
}